<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AiChat">

	
	<insert id="insertAiChat" parameterType="com.study.app.domains.aiChat.AiChatDTO">
		<selectKey keyProperty="chat_seq" resultType="Long" order="BEFORE">
			select chat_seq.nextval from dual
		</selectKey>
		insert into ai_chat values(#{chat_seq}, #{users_id}, #{title}, sysdate, sysdate)
	</insert>
	
	<update id="updateAiChatUpdated_at">
		update ai_chat set updated_at = sysdate where chat_seq = #{chat_seq}
	</update>
	
	<insert id="insertMessage">
		insert into ai_messages values(msg_seq.nextval, #{chat_seq}, #{role}, #{content}, #{ref_chunk_ids, jdbcType=VARCHAR}, sysdate, #{ref_rag_doc_seq, jdbcType=VARCHAR})
	</insert>
	
	<select id="sideChatTitleList" resultType="com.study.app.domains.aiChat.AiChatDTO">
		select chat_seq, title from ai_chat where users_id = #{loginId}
			order by updated_at desc
	</select>
	
	<select id="detailChat" resultType="com.study.app.domains.aiChat.AiMessagesDTO">
		select a.role, a.content, a.ref_rag_doc_seq, q.status
		from ai_messages a
		left join ai_unanswered_questions q on a.chat_seq = q.chat_seq
		where a.chat_seq = #{chat_seq}
			order by a.msg_seq
	</select>
	
	<insert id="insertQuestion">
		insert into ai_unanswered_questions 
		(question_seq, users_id, category, question, dept_seq, status, created_at, chat_seq)
		values (question_seq.nextval, #{users_id}, #{dto.category}, #{dto.question}, #{dto.dept_seq}, 'PENDING', sysdate, #{dto.chat_seq})
	</insert>
	
	<delete id="deleteQuestions">
		delete from ai_unanswered_questions where chat_seq = #{chat_seq}
	</delete>
	
	<delete id="deleteAiMessages">
		delete from ai_messages where chat_seq = #{chat_seq}
	</delete>

	<delete id="deleteAiChat">
		delete from ai_chat where chat_seq = #{chat_seq}
	</delete>
	
	<select id="myQuestions" resultType="com.study.app.domains.aiChat.AiUnansweredQuestionsDTO">
		select q.*,
			u.name as admin_name from ai_unanswered_questions q 
			left join users u on q.users_handle_id = u.id
			where q.users_id = #{loginId}
		order by q.created_at
	</select>
	
	<delete id="deleteMyQuestions">
		delete from ai_unanswered_questions where question_seq = #{question_seq}
	</delete>
	
	<select id="lastUserQuestion" resultType="com.study.app.domains.aiChat.AiMessagesDTO">
	    select *
	    from (
	        select content
	        from ai_messages where chat_seq = #{chat_seq}
	        and role = 'USER'
	        order by msg_seq desc)
	    	where rownum = 1
	</select>

	<select id="recentMessages" resultType="com.study.app.domains.aiChat.AiMessagesDTO">
		select role, content from ai_messages where chat_seq = #{chat_seq}
		order by msg_seq desc
	</select>
</mapper>