<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Approval">

	<insert id="insertDraftDocument">
		<selectKey keyProperty="doc_seq" resultType="long" order="BEFORE">
	        select doc_seq.nextval from dual
	    </selectKey>
	    
	    insert into draft_documents values (#{doc_seq}, #{title}, #{doc_type}, #{users_id}, 
	    #{status}, null, #{is_temp}, TO_DATE(#{temp_expires_at, jdbcType=VARCHAR}, 'YYYY-MM-DD'), sysdate, sysdate)
	</insert>
	
	<insert id="insertApprovalLines">
		insert into approval_lines values (line_seq.nextval, #{doc_seq}, #{users_id}, #{step_order}, 
		#{status}, null, null)
	</insert>
	
	<insert id="insertReferrers">
		insert into approval_cc values (cc_seq.nextval, #{doc_seq}, #{users_id})
	</insert>
	
	<insert id="insertVacationDetail">
		insert into vacation values (vac_seq.nextval, #{doc_seq}, #{vac_type}, #{start_date, jdbcType=DATE}, 
		#{end_date, jdbcType=DATE}, #{days}, #{reason})
	</insert>
	
	<insert id="insertGeneralDetail">
		insert into general values (general_seq.nextval, #{doc_seq}, #{purpose}, #{content})
	</insert>
	
	<insert id="insertPaymentDetail">
		<selectKey keyProperty="pay_seq" resultType="long" order="BEFORE">
			select pay_seq.nextval from dual
		</selectKey>
		insert into payment values (#{pay_seq}, #{doc_seq}, #{pay_date, jdbcType=DATE},
		 #{total_amount, jdbcType=NUMERIC}, #{pay_reason, jdbcType=VARCHAR}, #{account_info, jdbcType=VARCHAR})
	</insert>
	
	<insert id="insertPaymentItem">
		insert into payment_items values (pa_item_seq.nextval, #{pay_seq}, #{item_order, jdbcType=NUMERIC}, #{item_name, jdbcType=VARCHAR}, 
		#{amount, jdbcType=NUMERIC}, #{note, jdbcType=VARCHAR}, #{sysname, jdbcType=VARCHAR}, #{oriname, jdbcType=VARCHAR})
	</insert>
	
	<insert id="insertPurchaseDetail">
		<selectKey keyProperty="purchase_seq" resultType="long" order="BEFORE">
			select purchase_seq.nextval from dual
		</selectKey>
		
		insert into purchase values (#{purchase_seq}, #{doc_seq}, #{total_amount, jdbcType=NUMERIC},
		 #{purpose, jdbcType=VARCHAR}, #{vendor, jdbcType=VARCHAR}, #{purchase_date, jdbcType=DATE})
	</insert>
	
	<insert id="insertPurchaseItem">
		insert into purchase_items values (p_item_seq.nextval, #{purchase_seq}, #{item_order, jdbcType=NUMERIC}, #{item_name, jdbcType=VARCHAR},
		 #{ea, jdbcType=NUMERIC}, #{unit_price, jdbcType=NUMERIC}, #{total_price, jdbcType=NUMERIC}, #{note, jdbcType=VARCHAR})
	</insert>
	
	<insert id="insertPurchaseAttachment">
		insert into purchase_attachments values (attachment_seq.nextval, #{purchase_seq}, #{oriname}, #{sysname}, sysdate)
	</insert>
	
	<select id="selectCommonDetail" resultType="map">
	    select
	    	d.doc_seq as "doc_seq", d.title as "title", d.doc_type as "doc_type", d.users_id as "users_id", d.status as "status",
	    	d.reject_reason as "reject_reason", d.is_temp as "is_temp", TO_CHAR(d.temp_expires_at, 'YYYY-MM-DD') as "temp_expires_at", TO_CHAR(d.created_at, 'YYYY-MM-DD') as "created_at",
	    	TO_CHAR(d.updated_at, 'YYYY-MM-DD') as "updated_at", u.name as "name", u.users_seq as "users_seq", dept.dept_name as "dept_name", r.rank_name as "rank_name"
	    	from draft_documents d
	    left outer join users u 
	    	on d.users_id = u.id
	    left outer join departments dept 
	    	on u.dept_seq = dept.dept_seq
	    left outer join rank r 
	    	on u.rank_seq = r.rank_seq
	    where d.doc_seq = #{doc_seq}
	</select>
	
	<select id="selectApprovers" resultType="map">
		select 
			a.line_seq as "line_seq", a.doc_seq as "doc_seq", a.users_id as "users_id", a.step_order as "step_order",
			a.status as "status", TO_CHAR(a.handle_at, 'YYYY-MM-DD') as "handle_at", a.reject_reason as "reject_reason", 
			u.name as "name", r.rank_name as "rank_name"
		from approval_lines a
	    join users u on a.users_id = u.id
	    join rank r on u.rank_seq = r.rank_seq
	    where a.doc_seq = #{doc_seq}
	    order by a.step_order
	</select>
	
	<select id="selectReferrers" resultType="map">
		select 
			a.cc_seq as "cc_seq", a.doc_seq as "doc_seq", a.users_id as "users_id", u.name as "name", d.dept_name as "dept_name"
	    from approval_cc a
	    join users u on a.users_id = u.id
	    join departments d on u.dept_seq = d.dept_seq
	    where a.doc_seq = #{doc_seq}
	    order by a.cc_seq
	</select>
	
	<select id="selectVacationDetail" resultType="map">
		select 
			vac_seq as "vac_seq", doc_seq as "doc_seq", vac_type as "vac_type", TO_CHAR(start_date, 'YYYY-MM-DD') as "start_date",
        	TO_CHAR(end_date, 'YYYY-MM-DD') as "end_date", days as "days", reason as "reason" 
		from vacation where doc_seq = #{doc_seq}
	</select>
	
	<select id="selectGeneralDetail" resultType="map">
		select 
			general_seq as "general_seq", doc_seq as "doc_seq", purpose as "purpose", content as "content" 
		from general where doc_seq = #{doc_seq}
	</select>
	
	<select id="selectPaymentDetail" resultType="map">
		select 
			pay_seq as "pay_seq", doc_seq as "doc_seq", TO_CHAR(pay_date, 'YYYY-MM-DD') as "pay_date", 
			total_amount as "total_amount", pay_reason as "pay_reason", account_info as "account_info"
		from payment where doc_seq = #{doc_seq}
	</select>
	
	<select id="selectPurchaseDetail" resultType="map">
		select 
			purchase_seq as "purchase_seq", doc_seq as "doc_seq", total_amount as "total_amount",
			purpose as "purpose", vendor as "vendor", TO_CHAR(purchase_date, 'YYYY-MM-DD') as "purchase_date"
		from purchase where doc_seq = #{doc_seq}
	</select>
	
	<select id="selectPaymentItems" resultType="map">
		select 
			item_seq as "item_seq", pay_seq as "pay_seq", item_order as "item_order", item_name as "item_name", 
			amount as "amount", note as "note", sysname as "sysname", oriname as "oriname"
		from payment_items where pay_seq = #{pay_seq} order by item_order
	</select>
	
	<select id="selectPurchaseItems" resultType="map">
		select 
			item_seq as "item_seq", purchase_seq as "purchase_seq", item_order as "item_order", item_name as "item_name",
			ea as "ea", unit_price as "unit_price", total_price as "total_price", note as "note"
		from purchase_items where purchase_seq = #{purchase_seq} order by item_order
	</select>
	
	<select id="selectPurchaseAttachments" resultType="map">
		select 
			attachment_seq as "attachment_seq", purchase_seq as "purchase_seq", 
			oriname as "oriname", sysname as "sysname", TO_CHAR(created_at, 'YYYY-MM-DD') as "created_at"
		from purchase_attachments where purchase_seq = #{purchase_seq} order by attachment_seq
	</select>
	
	<select id="selectMyApprovalLine" resultType="map">
		select
			users_id as "users_id", step_order as "step_order"
		from approval_lines where doc_seq = #{doc_seq} and users_id = #{users_id}
	</select>
	
	<select id="selectNextApprovalLine" resultType="map">
		select
			users_id as "users_id", step_order as "step_order"
		from approval_lines where doc_seq = #{doc_seq} and step_order = #{step_order} + 1
	</select>
	
	<update id="updateApprovalLineStatus">
		update approval_lines set status = #{status}, handle_at = sysdate where doc_seq = #{doc_seq} and users_id = #{users_id} 
	</update>
	
	<update id="updateNextApprovalLineStatus">
		update approval_lines set status = #{status} where doc_seq = #{doc_seq} and users_id = #{users_id}
	</update>
	
	<update id="updateDocumentStatus">
		update draft_documents set status = #{status} where doc_seq = #{doc_seq}
	</update>
	
	<update id="updateApprovalLineStatusToReject">
		update approval_lines set status = #{status}, handle_at = sysdate, reject_reason = #{reject_reason}
		where doc_seq = #{doc_seq} and users_id = #{users_id}
	</update>
	
	<update id="updateDocumentStatusToReject">
		update draft_documents set status = #{status}, reject_reason = #{reject_reason} where doc_seq = #{doc_seq}
	</update>
	
	<select id="selectVacationDays" resultType="map">
		select 
			d.users_id as "users_id", v.days as "days"
		from draft_documents d
		join vacation v on d.doc_seq = v.doc_seq
		where d.doc_seq = #{doc_seq}
	</select>
	
	<update id="updateDraftDocument">
		update draft_documents 
		set title = #{title}, status = #{status}, is_temp = #{is_temp}, 
			temp_expires_at = TO_DATE(#{temp_expires_at, jdbcType=VARCHAR}, 'YYYY-MM-DD'), 
			created_at = sysdate, updated_at = sysdate
		where doc_seq = #{doc_seq}
	</update>
	
	<delete id="deleteApprovalLines">
		delete from approval_lines where doc_seq  = #{doc_seq}
	</delete>
	
	<delete id="deleteReferrers">
		delete from approval_cc where doc_seq = #{doc_seq}
	</delete>
	
	<update id="updateVacationDetail">
		update vacation 
		set vac_type = #{vac_type}, start_date = #{start_date, jdbcType=DATE}, end_date = #{end_date, jdbcType=DATE}, 
			days = #{days}, reason = #{reason}
		where doc_seq = #{doc_seq}
	</update>
	
	<update id="updateGeneralDetail">
		update general set purpose = #{purpose, jdbcType=VARCHAR}, content = #{content, jdbcType=VARCHAR} where doc_seq = #{doc_seq}
	</update>
	
	<select id="selectPay_seq" resultType="long">
		select pay_seq from payment where doc_seq = #{doc_seq}
	</select>
	
	<delete id="deletePaymentItems">
		delete from payment_items where pay_seq = #{pay_seq}
	</delete>
	
	<update id="updatePaymentDetail">
		update payment 
		set pay_date = #{pay_date, jdbcType=DATE}, total_amount = #{total_amount, jdbcType=NUMERIC}, 
			pay_reason = #{pay_reason, jdbcType=VARCHAR}, account_info = #{account_info, jdbcType=VARCHAR}
		where pay_seq = #{pay_seq}
	</update>
	
	<select id="selectPurchase_seq" resultType="long">
		select purchase_seq from purchase where doc_seq = #{doc_seq}
	</select>
	
	<delete id="deletePurchaseItems">
		delete from purchase_items where purchase_seq = #{purchase_seq}
	</delete>
	
	<delete id="deletePurchaseAttachments">
		delete from purchase_attachments where purchase_seq = #{purchase_seq}
	</delete>
	
	<update id="updatePurchaseDetail">
		update purchase 
		set total_amount = #{total_amount, jdbcType=NUMERIC}, purpose = #{purpose, jdbcType=VARCHAR}, 
		vendor = #{vendor, jdbcType=VARCHAR}, purchase_date = #{purchase_date, jdbcType=DATE}
		where purchase_seq = #{purchase_seq}
	</update>
	
	<select id="countPendingApprovals" resultType="int">
		select count(*) 
	    from approval_lines al
	    JOIN draft_documents d ON al.doc_seq = d.doc_seq where al.users_id = #{users_id} 
	    	and al.status = 'IN_PROGRESS'
	    	and TO_CHAR(d.created_at, 'YYYYMM') = TO_CHAR(SYSDATE, 'YYYYMM')
	</select>
	
	<select id="countInProgress" resultType="int">
		select count(*) from draft_documents 
		where users_id = #{users_id} 
			and status = 'IN_PROGRESS'
			and TO_CHAR(created_at, 'YYYYMM') = TO_CHAR(SYSDATE, 'YYYYMM')
	</select>
	
	<select id="countApproved" resultType="int">
		select count(*) from draft_documents 
		where users_id = #{users_id} 
			and status = 'APPROVED'
			and TO_CHAR(created_at, 'YYYYMM') = TO_CHAR(SYSDATE, 'YYYYMM')
	</select>
	
	<select id="countRejected" resultType="int">
		select count(*) from draft_documents 
		where users_id = #{users_id} 
			and status = 'REJECTED'
			and TO_CHAR(created_at, 'YYYYMM') = TO_CHAR(SYSDATE, 'YYYYMM')
	</select>
	
	<select id="selectRecentDocs" resultType="map">
	    select * from (
	        select
	            d.doc_seq as "doc_seq",
	            d.title as "title",
	            d.doc_type as "doc_type",
	            TO_CHAR(d.created_at, 'YYYY-MM-DD') as "created_at",
	            d.status as "status",
	            u.name as "approver_name",
	            u.sysname as "sysname",
	            r.rank_name as "approver_rank"
	        from draft_documents d
	        left join approval_lines al
	            on d.doc_seq = al.doc_seq and al.status = 'IN_PROGRESS'
	        left join users u on al.users_id = u.id
	        left join rank r on u.rank_seq = r.rank_seq
	        where d.users_id = #{users_id}
	        and d.is_temp = 0
	        order by d.created_at desc
	    ) where rownum &lt;= 5
	</select>
	
	<select id="getCcList" resultType="com.study.app.domains.approval.DraftDocumentsDTO">
		select d.*, u.name as name 
			from draft_documents d 
			inner join users u on d.users_id = u.id
			inner join approval_cc c on d.doc_seq = c.doc_seq
			where c.users_id = #{loginId}
			order by d.created_at desc
	</select>
	
	<select id="getLinesBySeq" resultType="com.study.app.domains.approval.ApprovalLinesDTO">
		select 
			a.line_seq, a.doc_seq, a.users_id, a.step_order, a.status, a.handle_at, a.reject_reason,
			u.name as name, r.rank_name as rank_name, u.sysname as sysname 
			
			from approval_lines a
			inner join users u on a.users_id = u.id
			inner join rank r on u.rank_seq = r.rank_seq
			where a.doc_seq = #{doc_seq}
			order by a.step_order
	</select>
	
	<select id="getCcPage" resultType="com.study.app.domains.approval.DraftDocumentsDTO">
		select * from (select row_number() over(order by d.created_at desc) rn, 
			d.*, u.name as name
			from draft_documents d
			inner join users u on d.users_id = u.id
			inner join approval_cc c on d.doc_seq = c.doc_seq
			where c.users_id = #{loginId} and d.status = #{status}
			
			<if test="keyword != null and keyword != ''">
            	and lower(d.title) like '%' || lower(#{keyword}) || '%'
        	</if>

	        <if test="docType != null and docType != '' and docType != '전체' and docType != '전체 문서'">
	            and d.doc_type = #{docType}
	        </if>
	        
			)
			where rn between #{start} and #{end}
	</select>
	
	<select id="getCcpageCount" resultType="int">
		select count(*) from draft_documents d 
			inner join approval_cc c on d.doc_seq = c.doc_seq
			where c.users_id = #{loginId} and d.status = #{status}
			
			<if test="keyword != null and keyword != ''">
            	and lower(d.title) like '%' || lower(#{keyword}) || '%'
        	</if>

	        <if test="docType != null and docType != '' and docType != '전체' and docType != '전체 문서'">
	            and d.doc_type = #{docType}
	        </if>
	</select>
	
	<select id="getMyDoc" resultType="com.study.app.domains.approval.DraftDocumentsDTO">
		select d.*, u.name as name 
			from draft_documents d 
			inner join users u on d.users_id = u.id
			where d.users_id = #{loginId}
			order by d.created_at desc
	</select>
	
	<select id="getMyDocPage" resultType="com.study.app.domains.approval.DraftDocumentsDTO">
		select * from (select row_number() over(order by d.created_at desc) rn, 
			d.*, u.name as name
			from draft_documents d
			inner join users u on d.users_id = u.id
			where d.users_id = #{loginId} and d.status = #{status}
			
			<if test="keyword != null and keyword != ''">
            	and lower(d.title) like '%' || lower(#{keyword}) || '%'
        	</if>

	        <if test="docType != null and docType != '' and docType != '전체' and docType != '전체 문서'">
	            and d.doc_type = #{docType}
	        </if>
	        
			)
			where rn between #{start} and #{end}
	</select>
	
	<select id="getMyDocPageCount" resultType="int">
		select count(*) from draft_documents d
			where d.users_id = #{loginId} and status = #{status}
			
			<if test="keyword != null and keyword != ''">
		        and lower(d.title) like '%' || lower(#{keyword}) || '%'
		    </if>

		    <if test="docType != null and docType != '' and docType != '전체' and docType != '전체 문서'">
		        and d.doc_type = #{docType}
		    </if>
	</select>
	
	<select id="getMydraftDoc" resultType="com.study.app.domains.approval.DraftDocumentsDTO">
		select d.*, u.name as name, u.sysname as sysname, a.status as app_status
			from approval_lines a
			inner join draft_documents d on a.doc_seq = d.doc_seq
			inner join users u on d.users_id = u.id
			where a.users_id = #{loginId}
			and a.status = 'IN_PROGRESS'
			order by d.created_at
	</select>
	
	<select id="getMyDoneDocByPage" resultType="com.study.app.domains.approval.DraftDocumentsDTO">
		select * from (select row_number() over(order by a.handle_at desc) rn, 
			d.*, u.name as name, u.sysname as sysname, a.status as app_status
			from approval_lines a
			inner join draft_documents d on a.doc_seq = d.doc_seq
			inner join users u on d.users_id = u.id
			where a.users_id = #{loginId} and a.status in ('APPROVED', 'REJECTED')
			
			<if test="keyword != null and keyword != ''">
            	and lower(d.title) like '%' || lower(#{keyword}) || '%'
        	</if>

	        <if test="docType != null and docType != '' and docType != '전체' and docType != '전체 문서'">
	            and d.doc_type = #{docType}
	        </if>
	        
			)
			where rn between #{start} and #{end}
	</select>
	
	<select id="getMyDoneDocCount" resultType="int">
		select count(*) from approval_lines a
		inner join draft_documents d on a.doc_seq = d.doc_seq
		where a.users_id = #{loginId} and a.status in ('APPROVED', 'REJECTED')
			<if test="keyword != null and keyword != ''">
	            and lower(d.title) like '%' || lower(#{keyword}) || '%'
        	</if>

	        <if test="docType != null and docType != '' and docType != '전체' and docType != '전체 문서'">
	            and d.doc_type = #{docType}
	        </if>
	</select>
	
	<select id="getTempDoc" resultType="com.study.app.domains.approval.DraftDocumentsDTO">
		select * from draft_documents where users_id = #{loginId} and status = 'TEMP'
			order by updated_at desc
	</select>
	
	<select id="tempList" resultType="com.study.app.domains.approval.DraftDocumentsDTO">
		select * from draft_documents where status = 'TEMP' and temp_expires_at &lt;= sysdate
	</select>
	
	<delete id ="deleteAppLine">
		delete from approval_lines where doc_seq = #{doc_seq}
	</delete>
	
	<delete id ="deleteAppCc">
		delete from approval_cc where doc_seq = #{doc_seq}
	</delete>
	
	<delete id ="deleteDraftDoc">
		delete from draft_documents where doc_seq = #{doc_seq}
	</delete>
	
	<delete id ="deleteVacDoc">
		delete from vacation where doc_seq = #{doc_seq}
	</delete>
	
	<delete id ="deleteGenDoc">
		delete from general where doc_seq = #{doc_seq}
	</delete>
	
	<select id="findPaySeq" resultType="long">
		select pay_seq from payment where doc_seq = #{doc_seq}
	</select>
	
	<select id="findPaymentFile" resultType="string">
		select sysname from payment_items where pay_seq = #{pay_seq}
	</select>
	
	<delete id ="deletePayItem">
		delete from payment_items where pay_seq in
			(select pay_seq from payment where doc_seq = #{doc_seq}
		)
	</delete>
	
	<delete id ="deletePayDoc">
		delete from payment where doc_seq = #{doc_seq}
	</delete>
	
	<select id="findPurSeq" resultType="long">
		select purchase_seq from purchase where doc_seq = #{doc_seq}
	</select>
	
	<select id="findPurAttach" resultType="string">
		select sysname from purchase_attachments where purchase_seq = #{purchase_seq}
	</select>
	
	<delete id ="deletePurAttach">
		delete from purchase_attachments where purchase_seq in
    		(select purchase_seq from purchase where doc_seq = #{doc_seq}
    	)
	</delete>
	
	<delete id ="deletePurItem">
		delete from purchase_items where purchase_seq in
			(select purchase_seq from purchase where doc_seq = #{doc_seq}
		)
	</delete>
	
	<delete id ="deletePurDoc">
		delete from purchase where doc_seq = #{doc_seq}
	</delete>

</mapper>
