<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Attendance">
<insert id="checkIn">
	INSERT INTO ATTENDANCE (ATTENDANCE_SEQ, USERS_ID, WORK_DATE, CHECK_IN)
	VALUES (ATTENDANCE_SEQ.NEXTVAL, #{users_id}, TRUNC(SYSDATE), SYSTIMESTAMP)
</insert>
<update id="checkOut">
	UPDATE ATTENDANCE
	SET CHECK_OUT = SYSTIMESTAMP,
	    TOTAL_WORK_MIN = ROUND(
            (CAST(SYSTIMESTAMP AS DATE) - CAST(CHECK_IN AS DATE)) * 24 * 60
        )
	WHERE USERS_ID = #{users_id}
	AND WORK_DATE = TRUNC(SYSDATE)
</update>

<select id="getAttendance" resultType="com.study.app.domains.attendance.AttendanceDTO">
    SELECT CHECK_IN, CHECK_OUT
    FROM ATTENDANCE
    WHERE USERS_ID = #{users_id}
    AND WORK_DATE = TRUNC(SYSDATE)
</select>
<select id="getCntMonth" resultType="com.study.app.domains.attendance.AttendanceDTO">
	SELECT 
	  COUNT(*) AS work_days,
	  ROUND(SUM(TOTAL_WORK_MIN) / 60, 1) AS total_hours,
	  SUM(CASE WHEN TO_CHAR(CHECK_IN, 'HH24:MI') > '09:00' THEN 1 ELSE 0 END) AS late_cnt,
		(SELECT NVL(SUM(v.DAYS), 0) FROM VACATION v
		    JOIN DRAFT_DOCUMENTS dd ON v.DOC_SEQ = dd.DOC_SEQ
		    WHERE dd.USERS_ID = #{loginId}
		    AND dd.STATUS = 'APPROVED'
		    AND TO_CHAR(v.START_DATE, 'YYYY-MM') = TO_CHAR(SYSDATE, 'YYYY-MM')
		) AS vac_cnt
	FROM ATTENDANCE
	WHERE USERS_ID = #{loginId}
	AND TO_CHAR(WORK_DATE, 'YYYY-MM') = TO_CHAR(SYSDATE, 'YYYY-MM')
	GROUP BY USERS_ID
</select>
<select id="getCntWeek" resultType="com.study.app.domains.attendance.AttendanceDTO">
	<![CDATA[
	    SELECT
	        NVL(A.work_days, 0) AS "work_days",
	        NVL(A.late_cnt, 0) AS "late_cnt",
	
	        (SELECT NVL(ROUND(SUM(REQUEST_MIN), 1), 0)
	            FROM OVERTIME_REQUEST
	            WHERE USERS_ID = #{loginId}
	            AND STATUS = 'APPROVED'
	            AND WORK_DATE >= TRUNC(SYSDATE, 'IW')
	            AND WORK_DATE < TRUNC(SYSDATE, 'IW') + 7
	        ) AS "overtime_hours",
	
	        (SELECT NVL(SUM(v.DAYS), 0)
	            FROM VACATION v
	            JOIN DRAFT_DOCUMENTS dd ON v.DOC_SEQ = dd.DOC_SEQ
	            WHERE dd.USERS_ID = #{loginId}
	              AND dd.STATUS = 'APPROVED'
	              AND v.START_DATE >= TRUNC(SYSDATE, 'IW')
	              AND v.START_DATE < TRUNC(SYSDATE, 'IW') + 7
	        ) AS "vac_cnt"
	    FROM (
	        SELECT
	            COUNT(*) AS work_days,
	            SUM(CASE WHEN TO_CHAR(CHECK_IN, 'HH24:MI') > '09:00' THEN 1 ELSE 0 END) AS late_cnt
	        FROM ATTENDANCE
	        WHERE USERS_ID = #{loginId}
	          AND WORK_DATE >= TRUNC(SYSDATE, 'IW')
	          AND WORK_DATE < TRUNC(SYSDATE, 'IW') + 7
	    ) A
	]]>
</select>

<update id="changeCheckout">
	update attendance set 
		check_out = TO_DATE(#{req_check_out}, 'YYYY-MM-DD HH24:MI:SS'), 
		total_work_min = ROUND((TO_DATE(#{req_check_out}, 'YYYY-MM-DD HH24:MI:SS') - CAST(check_in AS DATE)) * 24 * 60)
	where attendance_seq = #{attendance_seq}
</update>

<update id="updateOvertime">
	update attendance set
		check_out = TO_DATE(#{end_dt}, 'YYYY-MM-DD HH24:MI:SS'),
		total_work_min = ROUND((TO_DATE(#{end_dt}, 'YYYY-MM-DD HH24:MI:SS') - CAST(check_in AS DATE)) * 24 * 60),
		request_min = #{request_min}
	where attendance_seq = #{attendance_seq}
</update>
</mapper>
