<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
	<!--com.study.app.domains.board.BoardPostsDTO-->
	<insert id="insertPost">
	    <selectKey keyProperty="post_seq" resultType="long" order="BEFORE">
	        SELECT POST_SEQ.NEXTVAL FROM DUAL
	    </selectKey>
	    INSERT INTO BOARD_POSTS (
	        POST_SEQ, TITLE, CATEGORY, CONTENT,
	        USERS_ID, VIEW_COUNT, CREATED_AT
	    ) VALUES (
	        #{post_seq}, #{title}, #{category}, #{content},
	        #{users_id}, 0, SYSDATE
	    )
	</insert>	
	<insert id="insertPostFile">
	    INSERT INTO BOARD_FILE (
	        FILE_SEQ, POST_SEQ, FILE_ORINAME, FILE_SYSNAME,
	        FILE_PATH, FILE_SIZE, UPLOAD_AT
	    ) VALUES (
	        B_FILE_SEQ.NEXTVAL, #{post_seq}, #{file_oriname}, #{file_sysname},
	        #{file_path}, #{file_size}, SYSDATE
	    )
	</insert>
	
	<select id="getBoardList" resultType="com.study.app.domains.board.BoardPostsDTO">
		 SELECT * FROM (
	        SELECT ROWNUM AS rn, a.* FROM (
	            SELECT 
					b.POST_SEQ,
	                b.TITLE,
	                b.CATEGORY,
	                b.USERS_ID,
	                b.VIEW_COUNT,
	                b.CREATED_AT,
	                u.NAME AS AUTHOR_NAME
	            FROM BOARD_POSTS b
	            LEFT JOIN USERS u ON b.USERS_ID = u.ID
	            <where>
	                <if test="keyword != null and keyword != ''">
	                    AND (b.TITLE LIKE '%' || #{keyword} || '%'
						OR u.NAME LIKE '%' || #{keyword} || '%')
	                </if>
	            </where>
	            ORDER BY CREATED_AT DESC
	        ) a
	    )
	    WHERE rn BETWEEN #{start} AND #{end}
	</select>
	<select id="getBoardCount" resultType="int">
	    SELECT COUNT(*) FROM BOARD_POSTS
	    <where>
	        <if test="keyword != null and keyword != ''">
	            AND (TITLE LIKE '%' || #{keyword} || '%'
	            OR USERS_ID LIKE '%' || #{keyword} || '%')
	        </if>
	    </where>
	</select>
	<select id="getPostDetail" resultType="com.study.app.domains.board.BoardPostsDTO">
	    SELECT
	        b.POST_SEQ,
	        b.TITLE,
	        b.CATEGORY,
	        b.CONTENT,
	        b.USERS_ID,
	        b.VIEW_COUNT,
	        b.CREATED_AT,
	        u.NAME AS AUTHOR_NAME,
    		u.SYSNAME AS AUTHOR_SYSNAME
	    FROM BOARD_POSTS b
	    LEFT JOIN USERS u ON b.USERS_ID = u.ID
	    WHERE b.POST_SEQ = #{post_seq}    
	</select>	
	<!-- 파일 목록 조회 (GCS 삭제용) -->
	<select id="getFilesByPostSeq" resultType="com.study.app.domains.board.BoardFileDTO">
	    SELECT * FROM BOARD_FILE WHERE POST_SEQ = #{post_seq}
	</select>
	
	<!-- 파일 삭제 -->
	<delete id="deleteFiles">
	    DELETE FROM BOARD_FILE WHERE POST_SEQ = #{post_seq}
	</delete>
	
	<!-- 게시글 삭제 -->
	<delete id="deletePost">
	    DELETE FROM BOARD_POSTS WHERE POST_SEQ = #{post_seq}
	</delete>
	
	<update id="updatePost">
	    UPDATE BOARD_POSTS
	    SET TITLE = #{title},
	        CATEGORY = #{category},
	        CONTENT = #{content}
	    WHERE POST_SEQ = #{post_seq}
	</update>
</mapper>
