<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CertIssueRequest">
	
	<insert id="insertCertRequest">
		insert into cert_issue_request ( 
			cert_request_seq,
			cert_type_seq,
			users_id,
			request_reason
		) values ( cert_request_seq.nextval, #{dto.cert_type_seq}, #{loginId}, #{dto.request_reason})
	</insert>
	
	<select id="countActiveCertRequest" resultType="int">
		select count(*) from cert_issue_request
			where users_id = #{loginId} and cert_type_seq = #{dto.cert_type_seq}
				and (
					status = 'PENDING' or status = 'APPROVED'
						and print_expires_at >= sysdate
						and nvl(printed_count, 0) <![CDATA[ < ]]> nvl(applied_max_print, 0)
				)
	</select>
	
	<select id="getAdminCertRequestList" resultType="com.study.app.domains.certType.CertIssueRequestDTO">
		select
	        cir.cert_request_seq,
	        cir.cert_type_seq,
	        cir.users_id,
	        cir.request_reason,
	        cir.status,
	        cir.requested_at,
	        cir.handle_id,
	        cir.approved_at,
	        cir.rejected_at,
	        cir.reject_reason,
	        cir.print_available_at,
	        cir.print_expires_at,
	        cir.applied_print_days,
	        cir.applied_max_print,
	        cir.printed_count,
	        cir.created_at,
	        cir.updated_at,
	        cir.issue_date_code,
	        cir.issue_no,
	
	        u.name,
	        d.dept_name,
	        r.rank_name,
	        ct.cert_type_name,
	
	        hu.name as handler_name,
	
	        case
	            when cir.status = 'APPROVED' then cir.approved_at
	            when cir.status = 'REJECTED' then cir.rejected_at
	            else null
	        end as processed_at
	
	    from cert_issue_request cir
	
		    inner join cert_type ct on cir.cert_type_seq = ct.cert_type_seq
		    inner join users u on cir.users_id = u.id
		    
		    left join departments d on u.dept_seq = d.dept_seq
		    left join rank r on u.rank_seq = r.rank_seq
		    left join users hu on cir.handle_id = hu.id

	    order by
	        case
	            when cir.status = 'PENDING' then 1
	            else 2
	        end, cir.requested_at desc
	</select>
	
	<update id="approveCertRequest">
		update cert_issue_request cir
		    set
		        cir.status = 'APPROVED',
		        cir.handle_id = #{loginId},
		        cir.approved_at = sysdate,
		        cir.print_available_at = sysdate,
		
		        cir.applied_print_days = (
		            select ct.print_days
		            from cert_type ct 
		            where ct.cert_type_seq = cir.cert_type_seq
		        ),
		
		        cir.applied_max_print = (
		            select ct.max_print_count
		            from cert_type ct
		            where ct.cert_type_seq = cir.cert_type_seq
		        ),
		
		        cir.print_expires_at =
		            sysdate
		            + numtodsinterval(
		                (
		                    select ct.print_days
		                    from cert_type ct
		                    where ct.cert_type_seq = cir.cert_type_seq
		                ),
		                'DAY'
		            ),
		            
		        cir.issue_date_code = to_char(sysdate, 'YYMMDD'),
		        cir.issue_no = (
					select nvl(max(issue_no), 0) + 1
					from cert_issue_request
						where substr(issue_date_code, 1, 2) = to_char(sysdate, 'YY')
				),
		
		        cir.updated_at = sysdate
		
		    where cir.cert_request_seq = #{cert_request_seq} 
		    	and cir.status = 'PENDING'
	</update>
	
	<update id="rejectCertRequest">
		update cert_issue_request 
			set
				status = 'REJECTED',
				handle_id = #{loginId},
				rejected_at = sysdate,
				reject_reason = #{reject_reason},
				updated_at = sysdate
			where cert_request_seq = #{cert_request_seq}
				and status = 'PENDING'
	</update>
	
	<delete id="cancelCertRequest">
		delete from cert_issue_request
		    where cert_request_seq = #{cert_request_seq}
		      and users_id = #{loginId}
		      and status = 'PENDING'
	</delete>
	
	<update id="increasePrintedCount">
		update cert_issue_request
			set
				printed_count = nvl(printed_count, 0) + 1,
				updated_at = sysdate
			where cert_request_seq = #{cert_request_seq}
				and users_id = #{loginId}
				and status = 'APPROVED'
				and print_expires_at >= sysdate
				and nvl(printed_count, 0) <![CDATA[ < ]]> nvl(applied_max_print, 0)
	</update>
</mapper>