<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CertType">
	<select id = "getCertType" resultType="com.study.app.domains.certType.CertTypeDTO">
		select 
			cert_type_seq, cert_type_code, cert_type_name, manage_auth_group, cert_description, created_at 
		from cert_type 
		where hidden_yn = 'N' order by cert_type_seq
	</select>
</mapper>