<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Documents">

	<select id="getAllDocs" resultType="com.study.app.domains.documents.DocumentsDTO">
		select 
		    d.document_seq, d.title, d.users_id, d.created_at, f.file_seq, f.document_seq, 
		    f.file_oriname, f.file_sysname, f.file_path, f.mime_type, f.upload_at, u.name
		from documents d
		LEFT OUTER JOIN document_files f ON d.document_seq = f.document_seq
		LEFT OUTER JOIN users u ON u.id = d.users_id
		order by d.document_seq desc
	</select>
	
	<insert id="addDoc">
	    <selectKey keyProperty="document_seq" resultType="long" order="BEFORE">
	      select document_seq.nextval from dual
	    </selectKey>
		insert into documents values (#{document_seq}, #{title}, #{users_id}, sysdate)
	</insert>
	
  	<insert id="insertDocFile">
  		<selectKey keyProperty="file_seq" resultType="long" order="BEFORE">
        	select d_file_seq.nextval from dual
    	</selectKey>
  		insert into document_files values 
  		(#{file_seq}, #{document_seq}, #{file_oriname}, #{file_sysname}, #{file_path}, #{mime_type}, sysdate)
	</insert>
	
	<update id="updateDocumentTitle">
		update documents set title = #{title} where document_seq = #{document_seq}
	</update>
	
	<select id="findFileByDocSeq" resultType="com.study.app.domains.documents.DocumentsFilesDTO">
		select * from document_files where document_seq = #{document_seq}
	</select>
	
	<delete id="deleteDocFile">
		delete from document_files where file_seq = #{file_seq}
	</delete>
	
	<delete id="deleteFavorDocs">
		delete from document_bookmarks where document_seq = #{document_seq}
	</delete>
	
	<delete id="deleteDocFileByDocSeq">
		delete from document_files where document_seq = #{document_seq}
	</delete>
	
	<delete id="deleteDocument">
		delete from documents where document_seq = #{document_seq}
	</delete>









































































































	<select id="getFavorites" resultType="com.study.app.domains.documents.DocumentBookmarksDTO">
		select document_seq from document_bookmarks where users_id = #{users_id} order by created_at desc
	</select>
	
	<insert id="addFavorite">
		insert into document_bookmarks values (bookmark_seq.nextval, #{users_id}, #{document_seq}, sysdate)
	</insert>
	
	<delete id="removeFavorite">
		delete from document_bookmarks where document_seq = #{document_seq} and users_id = #{users_id}
	</delete>
</mapper>
