<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MeetingMinutes">
<!--insert 후 생성된 MINUTE_SEQ 값이 자동으로 dto.minuteSeq에 담겨서 바로 dto.getMinuteSeq()로 꺼낼 수 있음-->
	<insert id="insertMinutes" useGeneratedKeys="true" keyProperty="minute_seq" keyColumn="MINUTE_SEQ">
		INSERT INTO MEETING_MINUTES(
		        MINUTE_SEQ,
		        TITLE,
		        MEETING_DT,
		        START_TIME,
		        END_TIME,		        
		        DECISIONS,
		        TODOS,
		        USERS_ID,
		        HOST_USERS_ID,
		        CREATED_AT,
		        MAIN_CONTENT
		    ) VALUES (
		        MINUTE_SEQ.NEXTVAL,
		        #{title},
		        #{meeting_dt},
		        #{start_time},
		        #{end_time},		        
		        #{decisions, jdbcType=VARCHAR},
		        #{todos, jdbcType=VARCHAR},
		        #{users_id},
		        #{host_users_id, jdbcType=VARCHAR},
		        SYSDATE,
		        #{main_content, jdbcType=CLOB}
		    )
	</insert>
	
	<resultMap id="minutesResultMap" type="com.study.app.domains.meetingMinutes.MeetingMinutesDTO">
	    <id property="minute_seq" column="MINUTE_SEQ"/>
	    <result property="title" column="TITLE"/>
	    <result property="meeting_dt" column="MEETING_DT"/>
	    <result property="start_time" column="START_TIME"/>
	    <result property="end_time" column="END_TIME"/>
	    <result property="main_content" column="MAIN_CONTENT"/>
	    <result property="decisions" column="DECISIONS"/>
	    <result property="todos" column="TODOS"/>
	    <result property="users_id" column="USERS_ID"/>
	    <result property="host_users_id" column="HOST_USERS_ID"/>
	    <result property="created_at" column="CREATED_AT"/>	
	    <collection property="attendees" ofType="com.study.app.domains.meetingMinutes.MinutesAttendeesDTO">
	        <id property="attendee_seq" column="ATTENDEE_SEQ"/>
	        <result property="users_id" column="ATTENDEE_USER_ID"/>
	        <result property="name" column="ATTENDEE_NAME"/>
	        <result property="sysname" column="ATTENDEE_SYSNAME"/>
	    </collection>
	</resultMap>

	<select id="getMinutesList" resultMap="minutesResultMap">
		 SELECT
	        m.MINUTE_SEQ,
	        m.TITLE,
	        m.MEETING_DT,
	        m.START_TIME,
	        m.END_TIME,
	        m.MAIN_CONTENT,
	        m.DECISIONS,
	        m.TODOS,
	        m.USERS_ID,
	        m.CREATED_AT, 
	        m.HOST_USERS_ID,
	        a.ATTENDEE_SEQ,
	        a.USERS_ID AS ATTENDEE_USER_ID,
	        u.NAME AS ATTENDEE_NAME,       
	        u.SYSNAME AS ATTENDEE_SYSNAME  
	    FROM MEETING_MINUTES m
	    LEFT JOIN MINUTES_ATTENDEES a ON m.MINUTE_SEQ = a.MINUTE_SEQ
	    LEFT JOIN USERS u ON a.USERS_ID = u.ID ORDER BY m.CREATED_AT DESC
	</select>
	<select id="getMinutesDetail" resultMap="minutesResultMap">
	      SELECT
	        m.MINUTE_SEQ,
	        m.TITLE,
	        m.MEETING_DT,
	        m.START_TIME,
	        m.END_TIME,
	        m.MAIN_CONTENT,
	        m.DECISIONS,
	        m.TODOS,
	        m.USERS_ID,
	        m.CREATED_AT,
	        m.HOST_USERS_ID, 
	        a.ATTENDEE_SEQ,
	        a.USERS_ID AS ATTENDEE_USER_ID,
	        u.NAME AS ATTENDEE_NAME,
	        u.SYSNAME AS ATTENDEE_SYSNAME
	    FROM MEETING_MINUTES m
	    LEFT JOIN MINUTES_ATTENDEES a ON m.MINUTE_SEQ = a.MINUTE_SEQ
	    LEFT JOIN USERS u ON a.USERS_ID = u.ID   
	    WHERE m.MINUTE_SEQ = #{minute_seq}
	</select>
	<delete id="deleteMinutes">
	    DELETE FROM MEETING_MINUTES WHERE MINUTE_SEQ = #{minute_seq}
	</delete>
	<update id="updateMinutes">
	    UPDATE MEETING_MINUTES 
	    SET 
	        TITLE = #{title},
	        MEETING_DT = #{meeting_dt},
	        START_TIME = #{start_time},
	        END_TIME = #{end_time},
	        DECISIONS = #{decisions, jdbcType=VARCHAR},
	        HOST_USERS_ID = #{host_users_id, jdbcType=VARCHAR},
			TODOS = #{todos, jdbcType=VARCHAR},
			MAIN_CONTENT = #{main_content, jdbcType=CLOB}
	    WHERE MINUTE_SEQ = #{minute_seq}
	</update>
	
<!--	<select id="meetingSeqs" resultType="com.study.app.domains.meetingMinutes.MeetingMinutesDTO">-->
<!--		select m.minute_seq -->
<!--		from meeting_minutes m-->
		
<!--	</select>-->
</mapper>
