<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MinutesAttendees">
	<insert id="insertMinutesAttendees">
		INSERT INTO MINUTES_ATTENDEES (
	        ATTENDEE_SEQ,
	        MINUTE_SEQ,
	        USERS_ID
	    ) VALUES (
	        ATTENDEE_SEQ.NEXTVAL,
	        #{minute_seq},
	        #{users_id}
	    )
	</insert>
</mapper>
