<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Notifications">

	<insert id="insertNoti">
		insert into Notifications values(noti_seq.nextval, #{users_id}, #{noti_type}, #{content}, #{ref_type}, #{ref_seq}, 
		TO_TIMESTAMP(#{created_at},'YYYY-MM-DD HH24:MI:SS'), #{read_yn})
	</insert>
	
	<delete id="deleteProjectNotiBySeq">
		delete from notifications where ref_seq = #{ref_seq} and ref_type = 'PROJECT'
	</delete>
	
	<delete id="deleteNotiByRsvnList">
		delete from notifications 
		where ref_type = 'MEETING' and ref_seq in
		<foreach collection="list" item="ref_seq" open="(" separator="," close=")">
			#{ref_seq}
		</foreach>
	</delete>
	
	<delete id="deleteNotiBySeqAndId">
		delete from notifications where users_id = #{users_id} and ref_type = 'MEETING' and ref_seq = #{ref_seq}
	</delete>
	
	<delete id="deleteMeetingNotiBySeq">
		delete from notifications where ref_type = 'MEETING' and ref_seq = #{ref_seq}
	</delete>
	
	<delete id="deleteApprovalNotiBySeq">
		delete from notifications where ref_type = 'APPROVAL' and ref_seq = #{ref_seq}
	</delete>
	
	<select id="getMyNotiListByLoginId" resultType="com.study.app.domains.notifications.NotificationsDTO">
		select * from notifications where users_id = #{loginId} order by noti_seq desc
	</select>
</mapper>
