<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Rag">

	<insert id="insertRagDocuments"
		parameterType="com.study.app.domains.aiChat.RagDocumentsDTO">

		<selectKey keyProperty="rag_doc_seq"
			resultType="Long"
			order="BEFORE">
			select rag_doc_seq.nextval from dual
		</selectKey>
		insert into rag_documents ( rag_doc_seq, source_type, source_seq, file_seq, file_name,
		file_ext, raw_text, extract_status, created_at )
		 
		values ( #{rag_doc_seq}, #{source_type}, #{source_seq} , #{file_seq, jdbcType=NUMERIC}, #{file_name}, #{file_ext}, #{raw_text},
		#{extract_status}, sysdate )
	</insert>

	<insert id="insertRagChunks"
		parameterType="com.study.app.domains.aiChat.RagChunksDTO">

		<selectKey keyProperty="chunk_seq"
			resultType="Long"
			order="BEFORE">
			select chunk_seq.nextval from dual
		</selectKey> 
		insert into rag_chunks ( chunk_seq, rag_doc_seq, chunk_index, chunk_text,
		embed_status, created_at ) 
		
		values ( #{chunk_seq}, #{rag_doc_seq},#{chunk_index}, #{chunk_text}, 
		#{embed_status}, sysdate ) 
	</insert>
	
	<select id="findAllChunks"
        resultType="com.study.app.domains.aiChat.RagChunksDTO">

	    select chunk_seq, rag_doc_seq, chunk_text
	    from rag_chunks
	    order by chunk_seq

	</select>
	
	<select id="findChunksByRagDocSeq"
        resultType="com.study.app.domains.aiChat.RagChunksDTO">

	    select chunk_seq, rag_doc_seq, chunk_text
	    from rag_chunks where rag_doc_seq = #{rag_doc_seq}
	    order by chunk_index
	</select>
	
	<update id="updateChunkEmbed">
		update rag_chunks set qdrant_point_id = #{qdrant_point_id},
			embed_at = sysdate where chunk_seq = #{chunk_seq}
	</update>
	
	<select id="findRagDocSeq" resultType="long">
		select rag_doc_seq from rag_documents 
			where source_type = #{source_type} and source_seq = #{source_seq}
	</select>
	
	<select id="findPointIdsByRagDocSeq" resultType="string">
		select qdrant_point_id from rag_chunks where rag_doc_seq = #{rag_doc_seq}
	</select>
	
	<delete id="deleteRagChunksByRagDocSeq">
		delete from rag_chunks where rag_doc_seq = #{rag_doc_seq}
	</delete>
	
	<delete id="deleteRagDocumentsByRagDocSeq">
		delete from rag_documents where rag_doc_seq = #{rag_doc_seq}
	</delete>
	
	<select id="sourcesByRagDocSeqs" resultType="com.study.app.domains.aiChat.RagDocumentsDTO">
		select r.rag_doc_seq, r.source_type, r.source_seq, r.file_name, f.file_sysname as sysname, f.file_oriname as oriname
			from rag_documents r
			left join document_files f on f.file_seq = r.file_seq
			where r.rag_doc_seq in
			<foreach collection="list"
					 item="seq"
					 open="("
					 separator=","
					 close=")">
				#{seq}
			</foreach>
	</select>
	
	<select id="findRagDocSeqsByMeetingSeq" resultType="Long">
		select rag_doc_seq from rag_documents 
			where source_type = 'MEETING_MINUTES' and source_seq in
			<foreach collection="meetingSeqs"
						item="seq"
						open="("
						separator=","
						close=")">
				#{seq}
			</foreach>
	</select>
</mapper>
