<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Rank">

	<select id="getRankList" resultType="com.study.app.domains.rank.RankDTO">
		select rank_seq, rank_name, rank_order from rank order by rank_order
	</select>
	
	<insert id="insertRank">
		insert into rank(
			rank_seq,
			rank_name,
			rank_order
		)
		values(rank_seq.nextval, #{rank_name},
			(select nvl(max(rank_order), 0) + 1 from rank)
		)
	</insert>
	
	<update id="updateRank">
		update rank set rank_name = #{rank_name} where rank_seq = #{rank_seq}
	</update>
	
	<select id="countUsersByRank" resultType="int">
		select count(*) from users where rank_seq = #{rank_seq}
	</select>
	
	<delete id="deleteDefaultApprovalLineByRankSeq">
		delete from default_approval_line 
			where drafter_rank_seq = #{rank_seq}
			or approver_rank_seq = #{rank_seq}
	</delete>
	<delete id="deleteRank">
		delete from rank where rank_seq = #{rank_seq}
	</delete>
	
	<update id="reorderRanks">
        merge into rank target
        	using (
				select rank_seq, 
        			row_number() over (
						order by rank_order, rank_seq
					) as new_order
				from rank
			) source
			on (
				target.rank_seq = source.rank_seq
			)
		when matched then
			update set target.rank_order = source.new_order
	</update>
	
	<update id="updateRankOrder">
		update rank set rank_order = #{rank_order} where rank_seq = #{rank_seq}
	</update>
</mapper>