<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RoomRsvn">

	<select id="selectRsvnSeqByRoomSeq" resultType="long">
		select rsvn_seq from room_rsvn where room_seq = #{room_seq}
	</select>
	
	<delete id="deleteRsvnMember">
		delete from room_rsvn_member 
		where rsvn_seq in
		<foreach collection="list" item="rsvn_seq" open="(" separator="," close=")">
			#{rsvn_seq}
		</foreach>
	</delete>
	
	<delete id="deleteRsvn">
		delete from room_rsvn where room_seq = #{room_seq}
	</delete>
	
	<select id="getAllMyMeetRsvn" resultType="com.study.app.domains.meetingRooms.RoomRsvnDTO">
		select m.room_name, r.* 
		from room_rsvn r
		left outer join meeting_rooms m on r.room_seq = m.room_seq
		where r.users_id = #{users_id}
		order by start_dt desc
	</select>
	
	<insert id="createReservation">
		<selectKey keyProperty="rsvn_seq" resultType="long" order="BEFORE">
	        select rsvn_seq.nextval from dual
	    </selectKey>
	    insert into room_rsvn values (#{rsvn_seq}, #{room_seq}, #{users_id}, #{title}, #{start_dt}, #{end_dt}, sysdate)
	</insert>
	
	<insert id="addRsvnMembers">
		insert into room_rsvn_member values (rm_seq.nextval, #{rsvn_seq}, #{users_id})
	</insert>
	
	<select id="getReservations" resultType="com.study.app.domains.meetingRooms.RoomRsvnDTO">
		select r.*, u.name
		from room_rsvn r
		JOIN users u ON u.id = r.users_id
		where r.room_seq = #{room_seq}
		and TO_CHAR(r.start_dt, 'YYYY-MM-DD') = #{date}
	</select>
	
	<resultMap id="RsvnDetailResultMap" type="com.study.app.domains.meetingRooms.RoomRsvnDTO" autoMapping="true">
		<id property="rsvn_seq" column="rsvn_seq"/>
		
		<collection property="attendees" ofType="com.study.app.domains.meetingRooms.RoomRsvnMemberDTO">
			<id property="rm_seq" column="rm_seq"/>
			<result property="users_id" column="att_users_id"/>
			<result property="name" column="att_name"/>
			<result property="sysname" column="att_sysname"/>
		</collection>
	</resultMap>
	
	<select id="getMeetRsvnDetail" resultMap="RsvnDetailResultMap">
		select 
			r.*, mr.room_name, m.rm_seq, 
			m.users_id as att_users_id, 
			u.name as att_name,
			u.sysname as att_sysname
		from room_rsvn r
		LEFT JOIN meeting_rooms mr ON r.room_seq = mr.room_seq
		LEFT JOIN room_rsvn_member m ON r.rsvn_seq = m.rsvn_seq
		LEFT JOIN users u ON m.users_id = u.id
		where r.rsvn_seq = #{rsvn_seq}
	</select>
	
	<select id="getOccupiedTimes" resultType="com.study.app.domains.meetingRooms.OccupiedTimeDTO">
		select 
			TO_CHAR(start_dt, 'HH24:MI') as startTime,
			TO_CHAR(end_dt, 'HH24:MI') as endTime
		from room_rsvn where room_seq = #{room_seq}
			and TRUNC(start_dt) = TO_DATE(#{date}, 'YYYY-MM-DD')
			and rsvn_seq != #{rsvn_seq}
	</select>
	
	<update id="updateMeetRsvn">
		update room_rsvn set 
			room_seq = #{room_seq}, 
			title = #{title},
			start_dt = TO_TIMESTAMP(#{start_dt}, 'YYYY-MM-DD HH24:MI:SS'),
			end_dt = TO_TIMESTAMP(#{end_dt}, 'YYYY-MM-DD HH24:MI:SS') 
		where rsvn_seq = #{rsvn_seq}
	</update>
	
	<delete id="removeRsvnMember">
		delete from room_rsvn_member where rsvn_seq = #{rsvn_seq} and users_id = #{users_id}
	</delete>
	
	<insert id="insertAddMember">
		insert into room_rsvn_member values (rm_seq.nextval, #{rsvn_seq}, #{users_id})
	</insert>
</mapper>