<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Users">


	<select id="login" resultType="com.study.app.domains.users.UsersDTO">
		select * from users where id = #{id}
	</select>
	
	<insert id="insertUser">
		insert into users values(#{id}, #{pw}, users_seq.nextval, #{name}, #{phone}, 
		#{email}, #{oriname}, #{ssn_hash}, #{ssn_enc}, #{ssn_masked}, #{zonecode}, 
		#{address1}, #{address2}, 'USER', 'ACTIVE', TO_TIMESTAMP(#{hire_date}, 'YYYY-MM-DD HH24:MI:SS'), null, #{dept_seq}, 
		#{rank_seq}, sysdate, null, #{sysname})
	</insert>
	
	<select id="getHrInfo" resultType="com.study.app.domains.users.UsersDTO">
		SELECT 
        	u.*, d.dept_name, r.rank_name from users u
    	LEFT JOIN departments d ON u.dept_seq = d.dept_seq
    	LEFT JOIN "RANK" r ON u.rank_seq = r.rank_seq
    	WHERE u.id = #{id}
	</select>
	
	<select id="getUsersInfo" resultType="com.study.app.domains.users.UsersDTO">
		select
		u.id as id, u.users_seq as users_seq, u.name as name, u.sysname as sysname,
		d.dept_seq as dept_seq, d.dept_name as dept_name, d.parent_dept_seq as parent_dept_seq, d.auth_group as auth_group,
		r.rank_name rank_name, u.role as role
		from users u
		left join departments d on u.dept_seq = d.dept_seq
		left join rank r on u.rank_seq = r.rank_seq
		where id = #{loginId}
	</select>

	<select id="getAllUsers" resultType="com.study.app.domains.users.UsersDTO">
	    SELECT * FROM (
	        SELECT ROWNUM AS rn, a.* FROM (
	            SELECT
	                u.users_seq, u.name, u.id, u.role, u.hire_date,
	                u.dept_seq, u.rank_seq,
	                d.dept_name, r.rank_name,
	                CASE u.status
	                    WHEN 'ACTIVE' THEN '재직'
	                    WHEN 'INACTIVE' THEN '휴직'
	                    WHEN 'RETIRE' THEN '퇴사'
	                END as status
	            FROM users u
	            LEFT JOIN departments d ON u.dept_seq = d.dept_seq
	            LEFT JOIN "RANK" r ON u.rank_seq = r.rank_seq
	            <where>
	            	<if test="status != null and status != ''">
	                    AND u.status = #{status}
	                </if>
	                <if test="keyword != null and keyword != ''">
	                    <if test="keyword.matches('[0-9]+')">
	                        AND u.users_seq = #{keyword}
	                    </if>
	                    <if test="!keyword.matches('[0-9]+')">
	                        AND (u.name LIKE '%' || #{keyword} || '%'
	                        OR d.dept_name LIKE '%' || #{keyword} || '%')
	                    </if>
	                </if>
	            </where>
	            ORDER BY u.users_seq
	        ) a
	    )
	    WHERE rn BETWEEN #{start} AND #{end}
	</select>
	
	<select id="getTotalCount" resultType="int">
	    SELECT COUNT(*)
	    FROM users u
	    LEFT JOIN departments d ON u.dept_seq = d.dept_seq
	    <where>
	        <if test="status != null and status != ''">
	             AND u.status = #{status}
	        </if>
	        <if test="keyword != null and keyword != ''">
	            <if test="keyword.matches('[0-9]+')">
	                AND u.users_seq = #{keyword}
	            </if>
	            <if test="!keyword.matches('[0-9]+')">
	                AND (u.name LIKE '%' || #{keyword} || '%'
	                OR d.dept_name LIKE '%' || #{keyword} || '%')
	            </if>
	        </if>
	    </where>
	</select>
	
	<select id="getCountByStatus" resultType="int">
	    SELECT COUNT(*)
	    FROM users u
	    LEFT JOIN departments d ON u.dept_seq = d.dept_seq
	    <where>
	        <if test="status != null and status != ''">
	            AND u.status = #{status}
	        </if>
	        <if test="keyword != null and keyword != ''">
	            <if test="keyword.matches('[0-9]+')">
	                AND u.users_seq = #{keyword}
	            </if>
	            <if test="!keyword.matches('[0-9]+')">
	                AND (u.name LIKE '%' || #{keyword} || '%'
	                OR d.dept_name LIKE '%' || #{keyword} || '%')
	            </if>
	        </if>
	    </where>
	</select>

	<update id="updateUsersState">
		UPDATE users SET
		    status = #{status},
		    update_at = sysdate,
		    resign_date = <choose>
		        <when test="status == 'RETIRE'">sysdate</when>
		        <otherwise>null</otherwise>
		    </choose>
		WHERE users_seq = #{users_seq}
	</update>
	<update id="updateUsersInfo">
		update users set 
        name = #{name},
        dept_seq = NVL(#{dept_seq, jdbcType=NUMERIC}, dept_seq),
        rank_seq = NVL(#{rank_seq, jdbcType=NUMERIC}, rank_seq),
        role = #{role, jdbcType=VARCHAR},
        update_at = sysdate
    where users_seq = #{users_seq}
	</update>	

	<select id="getAllEmployees" resultType="com.study.app.domains.users.UsersDTO">
    SELECT 
        u.id,
        u.users_seq,
        u.name,
        u.role,
        u.created_at,
        u.update_at,
        u.sysname,
        d.dept_seq AS dept_seq,
        d.dept_name AS dept_name,
        d.parent_dept_seq AS parent_dept_seq,
        d.auth_group AS auth_group,
        r.rank_name AS rank_name
    FROM users u
    LEFT JOIN departments d ON u.dept_seq = d.dept_seq
    LEFT JOIN rank r ON u.rank_seq = r.rank_seq
    WHERE u.status = 'ACTIVE'
    ORDER BY u.rank_seq
	</select>
	
	<select id="getMyPageInfo" resultType="com.study.app.domains.users.UsersDTO">
	    SELECT
	        u.users_seq,
	        u.name,
	        u.id,
	        u.phone,
	        u.email,
	        u.zonecode,
	        u.address1,
	        u.address2,
	        u.hire_date,
	        d.dept_seq,
	        d.dept_name,
	        r.rank_seq,
	        r.rank_name,
	        s.sysname AS stamp_sysname,
	        s.oriname AS stamp_oriname,
	        s.stamp_seq
	    FROM users u
	    LEFT JOIN departments d ON u.dept_seq = d.dept_seq
	    LEFT JOIN rank r ON u.rank_seq = r.rank_seq
	    LEFT JOIN user_stamp s ON u.id = s.users_id
	    WHERE u.id = #{loginId}
	</select>
	<update id="updateMyPageInfo">
		update users set 
			phone=#{phone}, email=#{email}, zonecode=#{zonecode}, address1=#{address1}, address2=#{address2} 
		where id = #{id}
	</update>
	
	<!-- 도장 등록 -->
	<insert id="insertUserStamp">
	    INSERT INTO user_stamp (stamp_seq, users_id, sysname, oriname, created_at)
	    VALUES (STAMP_SEQ.NEXTVAL, #{id}, #{sysname}, #{oriname}, SYSTIMESTAMP)
	</insert>
	
	<!-- 도장 수정 -->
	<update id="updateUserStamp">
	    UPDATE user_stamp SET
	        sysname = #{sysname},
	        oriname = #{oriname},
	        updated_at = SYSTIMESTAMP
	    WHERE users_id = #{id}
	</update>
	
	<select id="existsUserStamp" resultType="int">
	    SELECT COUNT(*) FROM user_stamp WHERE users_id = #{id}
	</select>
	
	<select id="checkDupEmail" resultType="int" parameterType="map">
	    SELECT COUNT(*) FROM (
	        SELECT EMAIL FROM USERS WHERE ID != #{id}
	        UNION
	        SELECT EMAIL FROM SIGNUP WHERE STATUS IN ('PENDING', 'APPROVED')
	    ) WHERE EMAIL = #{email}
	</select>
	
	<select id="isExistForId" resultType="int">
		select count(*) from users where name = #{name} and email = #{email}
	</select>
	
	<select id="isExistForPw" resultType="int">
		select count(*) from users where id = #{id} and name = #{name} and email = #{email}
	</select>
	
	<select id="findIdByEmail" resultType="String">
		select id from users where email = #{email}
	</select>
	
	<update id="changePw">
		update users set pw = #{pw} where email = #{email}
	</update>
	
	<select id="selectRankSeqByLoginId" resultType="Long">
		select rank_seq from users where id = #{loginId}
	</select>
</mapper>
